<!-- 
  RBC template
  Author: Ernest Yim
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>RBC Ask Arbie - Browse Recommendations</title>

    <!-- Link CSS -->
    <link href="/media/css/bootstrap.css" rel="stylesheet">
    <link href="/media/css/style.css" rel="stylesheet">
    <link href="/media/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">     
        <div class="navbar-header">
          <!-- nav button icon for smaller resolutions (mobile) -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>          
        </div>
        <!-- top left logo -->
        <a class="navbar-brand" href="index.html"><img class="img-responsive" src="/media/img/logo.png" alt=""></a>
        <!-- nav options -->
        <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="profile.html">Profile</a></li>
            <li><a href="browse.html">Browse</a></li>
          </ul>
        </div>
      </div><!-- container -->
    </nav>
    

    <div class="section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-2">
            <img class="img-responsive" src="/media/img/arbie-piechart.png">
          </div>
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <h2>Here are your results {{username}}!</h2>
            <h3>Below are some recommendations Arbie has for you. Should you have any more questions regarding any of recommendations, feel free to contact your local RBC advisor for more details.</h3>
            <!--<hr>--> <!-- break -->
          </div>
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- section-colored -->

    <div class="section-colored">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <h2> Here are where you investments lie: </h2>
            <ul>
              {% if investment_1_value != 0.0 %}
              <li> {{investment_1_name}}</li>
              {% endif %}
              {% if investment_2_value != 0.0 %}
              <li> {{investment_2_name}}</li>
              {% endif %}
              {% if investment_3_value != 0.0 %}
              <li> {{investment_3_name}}</li>
              {% endif %}
              {% if investment_4_value != 0.0 %}
              <li> {{investment_4_name}}</li>
              {% endif %}
              {% if investment_5_value != 0.0 %}
              <li> {{investment_5_name}}</li>
              {% endif %}
              {% if investment_6_value != 0.0 %}
              <li> {{investment_6_name}}</li>
              {% endif %}
              {% if investment_7_value != 0.0 %}
              <li> {{investment_7_name}}</li>
              {% endif %}
              {% if investment_8_value != 0.0 %}
              <li> {{investment_8_name}}</li>
              {% endif %}
              {% if investment_9_value != 0.0 %}
              <li> {{investment_9_name}}</li>
              {% endif %}
              {% if investment_10_value != 0.0 %}
              <li> {{investment_10_name}}</li>
              {% endif %}
              {% if investment_11_value != 0.0 %}
              <li> {{investment_11_name}}</li>
              {% endif %}
              {% if investment_12_value != 0.0 %}
              <li> {{investment_12_name}}</li>
              {% endif %}
              {% if investment_13_value != 0.0 %}
              <li> {{investment_13_name}}</li>
              {% endif %}
              {% if investment_14_value != 0.0 %}
              <li> {{investment_14_name}}</li>
              {% endif %}
              {% if investment_15_value != 0.0 %}
              <li> {{investment_15_name}}</li>
              {% endif %}
              {% if investment_16_value != 0.0 %}
              <li> {{investment_16_name}}</li>
              {% endif %}
              {% if investment_17_value != 0.0 %}
              <li> {{investment_17_name}}</li>
              {% endif %}
              {% if investment_18_value != 0.0 %}
              <li> {{investment_18_name}}</li>
              {% endif %}
              {% if investment_19_value != 0.0 %}
              <li> {{investment_19_name}}</li>
              {% endif %}
            </ul>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div id="donutchart" style="width: 550px; height: 300px;"></div>
          </div>
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- section -->

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <canvas id="line" height="300" width="550"></canvas>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <h2> title and list on left side </h2>
            <ul>
              <li> item </li>
              <li> item </li>
              <li> item </li>
              <li> item </li>
              <li> item </li>
              <li> item </li>
              <li> item </li>
            </ul>
          </div>
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- section-colored -->

    <div class="container">
      <hr>
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright &copy; RBC Ask Arbie 2014</p>
          </div>
        </div>
      </footer>
    </div><!-- container -->

    <!-- JavaScript -->
    <script src="/media/js/jquery-1.10.2.js"></script>
    <script src="/media/js/bootstrap.js"></script>
    <script src="https://www.google.com/jsapi"></script>
    <script>
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var datadc = google.visualization.arrayToDataTable([
          ['Investment Name', 'Percentage of Total Investments'],
          ['{{investment_1_name}}',{{investment_1_value}}],
          ['{{investment_2_name}}',{{investment_2_value}}],
          ['{{investment_3_name}}',{{investment_3_value}}],
          ['{{investment_4_name}}',{{investment_4_value}}],
          ['{{investment_5_name}}',{{investment_5_value}}],
          ['{{investment_6_name}}',{{investment_6_value}}],
          ['{{investment_7_name}}',{{investment_7_value}}],
          ['{{investment_8_name}}',{{investment_8_value}}],
          ['{{investment_9_name}}',{{investment_9_value}}],
          ['{{investment_10_name}}',{{investment_10_value}}],
          ['{{investment_11_name}}',{{investment_11_value}}],
          ['{{investment_12_name}}',{{investment_12_value}}],
          ['{{investment_13_name}}',{{investment_13_value}}],
          ['{{investment_14_name}}',{{investment_14_value}}],
          ['{{investment_15_name}}',{{investment_15_value}}],
          ['{{investment_16_name}}',{{investment_16_value}}],
          ['{{investment_17_name}}',{{investment_17_value}}],
          ['{{investment_18_name}}',{{investment_18_value}}],
          ['{{investment_19_name}}',{{investment_19_value}}]
        ]);

        var optionsdc = {
          legend: 'none',
          pieHole: 0.4,
          backgroundColor: 'none',
          chartArea:{width:'100%',height:'100%'}
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(datadc, optionsdc);
      }
    </script>
    
  </body>
</html>
