<!-- 
  RBC template
  Author: Ernest Yim
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>RBC Ask Arbie - Your Profile</title>

    <!-- Link CSS -->
    <link href="/media/css/bootstrap.css" rel="stylesheet">
    <link href="/media/css/style.css" rel="stylesheet">
    <link href="/media/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">     
        <div class="navbar-header">
          <!-- nav button icon for smaller resolutions (mobile) -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>          
        </div>
        <!-- top left logo -->
        <a class="navbar-brand" href="index.html"><img class="img-responsive" src="/media/img/logo.png" alt=""></a>
        <!-- nav options -->
        <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="profile.html">Profile</a></li>
            <li><a href="browse.html">Browse</a></li>
          </ul>
        </div>
      </div><!-- container -->
    </nav>

    <div class="section text-center">
      <h2>Update Your Profile Below</h2>    
      <div class="container">
        <div class="row">
          <form action="browse.html" class="profile" method="post">
            
            <label for="investment_1_name" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              {{investment_1_name}}:
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control" name="investment_1_name" value="{{investment_1_value}}"  placeholder="{{investment_1_name}}">
            </div>
            <br/><br/>

            <label for="investment_2_name" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              {{investment_2_name}}:
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control" name="investment_2_name" value="{{investment_2_value}}"  placeholder="{{investment_2_name}}">
            </div>
            <br/><br/>

            <label for="investment_3_name" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              {{investment_3_name}}:
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control" name="investment_3_name" value="{{investment_3_value}}"  placeholder="{{investment_3_name}}">
            </div>
            <br/><br/>

            <label for="investment_4_name" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              {{investment_4_name}}:
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control" name="investment_4_name" value="{{investment_4_value}}"  placeholder="{{investment_4_name}}">
            </div>
            <br/><br/>

            <label for="investment_5_name" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              {{investment_5_name}}:
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control" name="investment_5_name" value="{{investment_5_value}}"  placeholder="{{investment_5_name}}">
            </div>
            <br/><br/>

            <label for="investment_6_name" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              {{investment_6_name}}:
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control" name="investment_6_name" value="{{investment_6_value}}"  placeholder="{{investment_6_name}}">
            </div>
            <br/><br/>

            <label for="investment_7_name" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              {{investment_7_name}}:
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control" name="investment_7_name" value="{{investment_7_value}}"  placeholder="{{investment_7_name}}">
            </div>
            <br/><br/>

            <label for="investment_8_name" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              {{investment_8_name}}:
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control" name="investment_8_name" value="{{investment_8_value}}"  placeholder="{{investment_8_name}}">
            </div>
            <br/><br/>

            <label for="investment_9_name" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              {{investment_9_name}}:
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control" name="investment_9_name" value="{{investment_9_value}}"  placeholder="{{investment_9_name}}">
            </div>
            <br/><br/>

            <label for="investment_10_name" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              {{investment_10_name}}:
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control" name="investment_10_name" value="{{investment_10_value}}"  placeholder="{{investment_10_name}}">
            </div>
            <br/><br/>

            <label for="investment_11_name" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              {{investment_11_name}}:
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control" name="investment_11_name" value="{{investment_11_value}}"  placeholder="{{investment_11_name}}">
            </div>
            <br/><br/>

            <label for="investment_12_name" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              {{investment_12_name}}:
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control" name="investment_12_name" value="{{investment_12_value}}"  placeholder="{{investment_12_name}}">
            </div>
            <br/><br/>

            <label for="investment_13_name" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              {{investment_13_name}}:
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control" name="investment_13_name" value="{{investment_13_value}}"  placeholder="{{investment_13_name}}">
            </div>
            <br/><br/>

            <label for="investment_14_name" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              {{investment_14_name}}:
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control" name="investment_14_name" value="{{investment_14_value}}"  placeholder="{{investment_14_name}}">
            </div>
            <br/><br/>

            <label for="investment_15_name" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              {{investment_15_name}}:
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control" name="investment_15_name" value="{{investment_15_value}}"  placeholder="{{investment_15_name}}">
            </div>
            <br/><br/>

            <label for="investment_16_name" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              {{investment_16_name}}:
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control" name="investment_16_name" value="{{investment_16_value}}"  placeholder="{{investment_16_name}}">
            </div>
            <br/><br/>

            <label for="investment_17_name" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              {{investment_17_name}}:
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control" name="investment_17_name" value="{{investment_17_value}}"  placeholder="{{investment_17_name}}">
            </div>
            <br/><br/>

            <label for="investment_18_name" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              {{investment_18_name}}:
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control" name="investment_18_name" value="{{investment_18_value}}"  placeholder="{{investment_18_name}}">
            </div>
            <br/><br/>

            <label for="investment_19_name" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              {{investment_19_name}}:
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control" name="investment_19_name" value="{{investment_19_value}}"  placeholder="{{investment_19_name}}">
            </div>
            <br/><br/>
            <br/><br/>
            <button type="submit" class="btn signup-btn">
              Update
            </button>
            <!-- 
            <label for="uploadfile" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              Upload file:
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <input type="file" name="uploadfile" id="uploadfile">
              <p class="help-block">
                Allowed formats: txt
              </p>
            </div> 
            -->
          </form>
        </div> <!--row--> 
      </div> <!-- container -->
    </div><!-- section -->

    <div class="container">
      <hr>
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright &copy; RBC Ask Arbie 2014</p>
          </div>
        </div>
      </footer>
    </div><!-- container -->

    <!-- JavaScript -->
    <script src="/media/js/jquery-1.10.2.js"></script>
    <script src="/media/js/bootstrap.js"></script>
  </body>
</html>
